* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-form {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  background: white;
  padding: 30px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.container {
  max-width: 800px;
  height: 500px;
  margin-top: 0 auto;
}

.contact-form h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;

}

.contact-form h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.contact-form .main {
  position: relative;
  display: flex;
  margin: 30px 0;
}

.content {
  flex-basis: 50%;
  padding: 3em 3em;
  background-color: #b40955;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img {
  flex-basis: 50%;
  background-color: #f0f4f8;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;

}

.form-img img {
  width: 300px;

}

.btn,
button,
input {
  border-radius: 12px;
}

.btn:hover,
button:hover {
  color: #ffffff;
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease-in-out;
}

.contact-form form {
  margin: 30px 0;
}

.contact-form input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-stretch: 16px;
  color: black;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  background-color: #f0f4f8;
  transform: 0.3s ease;
}

.contact-form input:focus {
  background: white;
  border: 1px solid white;

}

.contact-form button {
  font-size: 18px;
  color: white;
  width: 100%;
  background: #d43678;
  font-weight:rgb(242, 124, 173);
  transition: 0.3s ease;
  padding: 14px 15px;
}