.form-container p {
    text-align: center;
    margin-top: 22px;
}
.form-container p a {
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 1170px) {
    .form-container {
        max-width: 60vw;
    }
}

@media screen and (max-width: 771px) {
    .form-container {
        max-width: 80vw;
    }
}
