#navbar {
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar::before {
    content: " ";
    position: absolute;
    background-image: linear-gradient(to right, #b40c57, #bf3370);
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 70px;
    width: 100vw;
} 
.navbar-brand{
    margin-left: 22px;
}
.container{
    top: 23px;
}
#subHead1 {
    color: black;
    text-shadow: 2px 2px 4px #888585;
    font-size: 30px;
  }
  .text-center1 {
    display: flex;
    font-size: 18px;
    font: medium;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
  }
  
  #sign::before{
    content: " ";
    position: absolute;
    /* background-image: linear-gradient(to right, #b40c57, #bf3370); */
    left: 0px;
    /* top: 0px; */
    z-index: -1;
    height: 100vh;
    width: 100vw;
  }
  #sign{
    height: 100vh;
  }
  .form-container {
    max-width: 40vw; /* Adjust the maximum width to your preference */
    margin: 0 auto; /* Center the container horizontally */
    /* height: 45vh; */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    
    
  }

  footer {
    background-color: #333;
    /* Background color */
    color: #fff;
    /* Text color */
    padding: 20px 0;
    /* Padding for top and bottom */
    text-align: center;
    /* Center-align text */
    font-size: 14px;
    /* Font size */
  }
  
  footer a {
    color: #b40c57;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s;
    /* Smooth color transition on hover */
  }
  
  footer a:hover {
    color: #fff;
    /* Change link color on hover */
  }
  
  /* Center the text vertically */
  footer p {
    margin: 0;
    line-height: 1.5;
  }

  .form-container p{
   text-align: center;
    margin-top: 22px;
  }
  .form-container p a{
    color: black;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1170px){
    .form-container {
        max-width: 60vw;
    }
  }
  
  @media screen and (max-width: 771px){
    .form-container {
        max-width: 80vw;
    }
  }
  